<% provide :title, t(".help_title") %>
<h1><%= t ".help_title" %></h1> 
<p>
  <%= t ".help_content1" %>
  <%= link_to t(".help_content2"), Settings.help_page %>
</p>
<p>
  <%= t ".help_content3" %>
  <%= link_to t(".help_content4"), Settings.book_page %>
</p>
